
.list-section__btn-container {
    width: 90%;
    margin: 0 auto;
}


.btn, .submit-btn, .delete-btn {
    margin-bottom: 1em;
    padding: 0.3em 1.2em;
    border: 2px solid black;
    background-color: #f8f8f8;
    font-family: var(--main-font);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--btn-main-shadow);
}

.btn {
    display: var(--btn-display);
    font-size: 0.9rem;
}

.btn:hover {
    border: 2px solid var(--main-accent-clr);
    background-color: var(--main-accent-clr);
    color: var(--header-font-clr);
    box-shadow: var(--btn-hover-shadow);
}

.submit-btn, .delete-btn {
    font-size: 0.7rem;
}

.submit-btn:hover {
    border: 2px solid var(--dark-accent-clr);
    color: var(--dark-accent-clr);
    box-shadow: var(--btn-hover-shadow);
}

.delete-btn {
    border: 2px solid #fc4343;
}

.delete-btn:hover {
    border: 2px solid #fc4343;
    background-color: #fa6464;
    box-shadow: var(--btn-hover-shadow);
}

.material-icons.settings-icon {
    margin-top: 0.2em;
    height: 50%;
    font-size: 1.2rem;
    color: var(--icon-light-clr);
    display: var(--btn-display);
}

.material-icons.settings-icon:hover {
    color: var(--icon-medium-clr)
}

.material-icons.settings-icon.header__icon {
    display: var(--header-settings-display);
}









