input, textarea {
    border: 1px solid black;
    box-shadow: var(--input-shadow);
}

.form {
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.form h4 {
    margin-top: 0;
}

.form input{
    padding: 0.5em;
    font-size: 1rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.form__date-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0;
}


.form__date-cont .form__item {
    width: 40%;
    margin-right: 10px;
}

.footer__form .form__item {
    width: 45%;
}
@media (max-width: 380px) {
    .form__date-cont {
        flex-direction: column;
    }
    .form__date-cont .form__item {
        width: 100%;
    }

    input{
        padding: 0.5em !important;
        font-size: 0.9rem !important;
    }
}