.header {
    padding: 2em;
    color: var(--header-font-clr);
    background-color: var(--main-accent-clr);
}

.header__title {
    width: 90%;
    position: relative;
    margin-right: 1em;
    border-right: 2px solid var(--dark-accent-clr);
}

.header__title h1 {
    font-size: 3rem;
    margin-top: 0;
}

.header__contact {
    width: 30%;
}

.header__contact--title {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.header__contact p,
.header__contact--link {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.header__contact--item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.header__contact--link:link {
    color: var(--header-font-clr);
    text-decoration: none;
}

.material-icons.contact {
    font-size: 1.3rem;
    color: var(--icon-medium-clr);
}

.material-icons.header__icon {
    margin-left: 0.5em;
}

.header__job-form {
    width: 90%;
    max-width: 200px;
    margin: 1.5em 1.5em 1.2em 0;
    font-family: var(--main-font);
}

.header__full-name-form {
    width: 90%;
    font-size: 3rem;
    margin-bottom: 0.2em;
    font-family: var(--main-font);
}

/* Header contact info form styles */

.header__contact-form {
    width: clamp(100px, 100%, 300px);
}

.header__contact-items {
    margin-bottom: 1em;
}

.header__contact-form-item {
    display: flex;
    flex-direction: column;
}

.header__contact-form-item + .header__contact-form-item {
    margin-top: 0.5em;
}

.header__contact-form-item label {
    font-size: 0.9rem;
}

.header__contact-form-item input {
    font-size: 0.9rem;
    padding: 0.5em;
}

@media (max-width: 750px) {

    .header {
        text-align: center;
    }

    .header__title {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--dark-accent-clr);
        margin-right: 0;
    }

    .header__title h1 {
        margin-bottom: 0.2em;
    }

    .header__contact {
        width: 90%;
        margin: 1em auto;
    }
}

@media (max-width: 450px) {
    .header__title h1 {
        font-size: 2rem;
    }

    .header__contact {
        font-size: 0.7rem !important;
    }

    .header__full-name-form {

        font-size: 2rem;

    }
}




















