@import 'buttons.css';

.content-container {
    width: 100%;
    max-width: var(--content-width);
    margin: 5em auto;
    font-size: var(--content-font-size);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}

.main {
    width: 62%;
}


/* History section styles */
.history__item-title {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.history__item-title + .history__item-title {
    margin: 0.8em 0;
}

/* sidebar list section styles */

.sidebar {
    width: 32%;
    word-break: keep-all;
}

.list-section__list {
    position: relative;
    padding-left: 0;
}

.list-section__list-cont {
    display: flex;
}

.list-section__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.material-icons.list-section__dot {
    margin-top: 0.5em;
    margin-right: 0.5em;
    font-size: 0.7rem;
    color: #616161;
}

.list-section__textarea, .personal-info__textarea {
    width: 100%;
    font-family: var(--main-font);
}

.list-section__textarea {
    margin-top: 1em;
}


/* Footer styles */
.footer {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.footer h3 {
    width: 25%;
    margin-top: 0;
}

.footer__container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer__item {
    width: 100%;
    max-width: 200px;
    margin-right: 2em;
    font-size: 0.9rem;
}

.footer__item h4 {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.footer__form {
    width: 60%;
}

.footer__form-row {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1070px) {
    .content-container {
        width: 80%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 0.5em;
    }
}

@media (max-width: 750px) {
    .sidebar, .main {
        width: 100%;
    }

    .list-section__list-cont {
        width: 100%;
    }

    .footer__form {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .content-container {
        width: 75%;
    }

    .footer__form-row {
        flex-direction: column;
    }

    .footer__form-row .form__item {
        width: 100% !important;
    }
}

