@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
@import 'styles/header.css';
@import 'styles/sidebar.css';
@import 'styles/forms.css';
@import 'styles/footer.css';
@import 'styles/historySection.css';
@import 'styles/navBar.css';

:root {
    --main-font: 'Poppins', sans-serif;

    --main-accent-clr: #2c699a;
    --dark-accent-clr: #457b9d;
    --title-clr: #219ebc;
    --header-font-clr: #e5e5e5;
    
    --content-font-size: 1rem;
    --body-font-clr: #44423f;

    --icon-light-clr: rgba(0,7,15,0.21);;
    --icon-medium-clr: rgba(0,7,15,0.41);
    --icon-dark-clr: #212121;

    --btn-main-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    --btn-hover-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;

    --input-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    --content-width: 900px;

    --pointer-border: 2px solid white;
    --header-pointer-border: 2px solid var(--main-accent-clr);
    --pointer-hover: 2px solid #ffe877;
    --header-settings-display: inline-block;
    --btn-display: block;

}

/*
Blue:
    --main-accent-clr: #2c699a;
    --dark-accent-clr: #457b9d;
    --title-clr: #219ebc;
    --header-font-clr: #e5e5e5;
*/

/*
Yellow:
    --main-accent-clr: #FFC914;
    --dark-accent-clr: #fd5e30;
    --title-clr: #FF7F51;
    --header-font-clr: #44423f;
*/

/*
Green:
    --main-accent-clr: #61c9a8;
    --dark-accent-clr: #0F7173;
    --title-clr: #51907b;
    --header-font-clr: #4b4b4b;
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: #dbdbdb;
    color: var(--body-font-clr);

}

main {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

input, textarea {
    border: 1px solid black;
    box-shadow: var(--input-shadow);
}

.title {
    color: var(--title-clr);
}

.row {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
    border: var(--pointer-border);
    transition: all 0.2s ease-in-out;
}

.head.pointer {
    border: var(--header-pointer-border);
}

.pointer:hover {
    border: var(--pointer-hover);
}

.border {
    border-bottom: 3px solid var(--dark-accent-clr);
}

.content-container {
    width: 95%;
    max-width: var(--content-width);
    margin: 5em auto;
    font-size: var(--content-font-size);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.main {
    width: 62%;
}

.sidebar {
    width: 32%;
}


