@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
@import 'styles/header.css';


:root {
--main-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--main-font);
}

.row {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    border: 2px solid #50a5ff;
}

.content-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid coral;
}

